* {
    box-sizing: border-box;
    
  }
  
  body {
    width: 100vw;

    font-family: "Roboto", sans-serif;
    color: #262626;
    font-weight: 400;
    font-size: 14px;

  }
  .hide {
    display: none;
    
  }